{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>albinstore</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<!-- NPM, Name, and Class Section -->
<div class="bg-indigo-600 py-2 px-4 rounded-md mt-4 mx-4 md:mx-8 flex justify-between items-center text-white animate-shine">
  <div class="flex-1 text-center">
    <span class="font-semibold">NPM:</span> {{ npm }}
  </div>
  <div class="flex-1 text-center">
    <span class="font-semibold">Name:</span> {{ name }}
  </div>
  <div class="flex-1 text-center">
    <span class="font-semibold">Class:</span> {{ class }}
  </div>
</div>

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-8 min-h-screen flex flex-col">
  <div class="flex justify-end mb-6">
    <a href="{% url 'main:create_product_entry' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product Entry
    </a>
  </div>
  
  {% if not product_entries %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/sedih-banget.png' %}?v={{ timestamp }}" alt="Sad face" class="w-84 h-64 mb-4"/>
    <p class="text-center text-indigo-600 mt-4 bg-indigo-100 p-4 rounded-lg shadow-md">
      Belum ada data product pada albinstore (┬┬﹏┬┬)
    </p>
  </div>
  {% else %}
  <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
    {% for product_entry in product_entries %}
      {% include 'product_card.html' with product_entry=product_entry %}
    {% endfor %}
  </div>
  {% endif %}
</div>

<!-- Last Login Section -->
{% if user.is_authenticated %}
<div class="bg-indigo-600 py-2 px-4 rounded-md mt-6 text-center">
  <h1 class="text-white">Last Login: {{ last_login }}</h1>
</div>
{% endif %}
{% endblock content %}